@use 'colors';

:host {
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.back-to-top {
  display: flex;
  border: 1px solid colors.$color-core-border;
  border-radius: 100%;
  background-color: colors.$color-neutral-surface;
  padding: 12px;
}
