@use 'colors';

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: block;
  background-color: colors.$color-core-foreground;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;

  @media(max-width: 576px) {
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 24px;
  }
}
