:host {
  display: block;
}

.header-options {
  display: flex;
  gap: 12px;
  align-items: center;
}

.container {
  position: relative;
  max-width: 720px;
  margin: 64px auto 0;
  padding: 48px 0;

  @media(max-width: 760px) {
    max-width: 472px;
    margin-top: 0;
  }

  @media(max-width: 576px) {
    max-width: 224px;
  }
}
