$color-core-background: #1F1F1F;
$color-core-foreground: #0A0A0A;
$color-core-border: #3D3D3D;
$color-core-content-low: #A4A4A4;
$color-core-content: #FAFAFA;

$color-neutral-border-high: #5D5D5D;
$color-neutral-surface: #FFFFFF;
$color-neutral-content-onSource: #0A0A0A;

$color-neutral-content: #A4A4A4;
$color-neutral-content-higher: #F2F2F2;

$color-creepster: #00B5CC;
$color-creepster-border: #B2DF28;
