<section class="section-header">
  <app-page-title label="HOME"></app-page-title>
  <form [formGroup]="form">
    <app-search-input label="SEARCH" placeholder="Ex. Rick" [control]="form.controls.name">
    </app-search-input>
  </form>
</section>

<section class="section-list">
  @for (item of characters$ | async; track item.id; let last = $last) {
  <app-character-card [image]="item.image" [name]="item.name" [species]="item.species" [isFavorite]="item.isFavorite"
    (favoriteToggle)="toggleFavorite(item)">
  </app-character-card>

  @if (last) {
  <div appInfiniteScroll (visible)="loadNext()"></div>
  }
  }
</section>