<section class="section-header">
  <app-page-title label="HOME"></app-page-title>
  <form [formGroup]="form">
    <app-search-input label="SEARCH" placeholder="Ex. Rick" [control]="form.controls.name">
    </app-search-input>
  </form>
</section>


@if (characters$ | async; as items) {
<ng-container>
  @if (items.length > 0) {
  <section class="section-list" #scrollHost>
    @for (item of items; track item.id) {
    <app-character-card [image]="item.image" [name]="item.name" [species]="item.species" [isFavorite]="item.isFavorite"
      (favoriteToggle)="toggleFavorite(item)">
    </app-character-card>
    }

    @if (hasNext) {
    <div appInfiniteScroll (visible)="loadNext()">
    </div>
    }
  </section>
  } @else {
  <app-list-message title="NOTHING_FOUND" description="TRY_NEW_SEARCH">
  </app-list-message>
  }
</ng-container>
} @else {
<app-list-skeleton></app-list-skeleton>
}