
@use '@angular/material' as mat;
@use 'colors';

@import "./themes/reset.css";

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: 0,
  ));
}

* {
  font-family: "poppins", sans-serif;
}

body {
  color-scheme: dark;
  background-color: colors.$color-core-background;
}
