<section class="section-header">
  <app-page-title label="FAVORITES"></app-page-title>
  <form [formGroup]="form">
    <app-search-input label="SEARCH" placeholder="Ex. Rick" [control]="form.controls.name">
    </app-search-input>
  </form>
</section>

@if (characters$ | async; as items) {
@if (items.length > 0) {
<section class="section-list">
  @for (item of items; track item.id) {
  <app-character-card [image]="item.image" [name]="item.name" [species]="item.species" [isFavorite]="true"
    (favoriteToggle)="toggleFavorite(item)">
  </app-character-card>
  }
</section>
} @else {
<app-list-message title="NO_FAVORITES_YET" description="GO_HOME_MESSAGE">
  <app-router-button label="BACK_TO_HOME" routerLink="/characters"></app-router-button>
</app-list-message>
}
} @else {
<app-list-skeleton></app-list-skeleton>
}