<section class="section-header">
  <app-page-title label="FAVORITES"></app-page-title>
  <form [formGroup]="form">
    <app-search-input label="SEARCH" placeholder="Ex. Rick" [control]="form.controls.name">
    </app-search-input>
  </form>
</section>

<section class="section-list">
  @let items = (characters$ | async) ?? [];

  @if (items.length > 0) {
  @for (item of items; track $index) {
  <app-character-card [image]="item.image" [name]="item.name" [species]="item.species" [isFavorite]="true"
    (favoriteToggle)="toggleFavorite(item)">
  </app-character-card>
  }
  } @else {
  <p>Nenhum favorito ainda.</p>
  }
</section>